<div class="container">
  <!--start of body-container-->
  <h2>Quote Yourself</h2>
  <div class="journal">
    <h5>Coming soon!</h5>
    <aside style="padding: 1em;">
      <i>...</i>
    </aside>
    <p>
      Check back shortly for DK quoting details. Thanks for your patience.
    </p>
  </div>


  <aside class="page-top">
    <a href="#top">Up Up and AWAY!</a>
  </aside>
</div>